:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575; 
}


/*general*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

.servicio, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
/* hack para flex box*/

*, *:before, *:after{
    box-sizing: inherit;;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    /* degrada de fondo utilizando linear-gradient*/
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco));
}

h1{
    font-size: 3.8 rem;
}

h2{

    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem
}

h1,h2,h3{
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    

}

.titulo span{
    font-size: 1.5rem;
    color: blue;
}

.contenedor{
    max-width: 100%;
    margin: 0 auto 0 auto;
}
.contenedor h2{
    margin-top: 1rem;
    padding-top: 1rem;
    font-family:'Lobster', cursive;
    font-size: 4rem;
    
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 90%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: width .5s;
    border-radius: .5s;
}

.boton:hover{
    background-color: var(--primario);
    color: var(--negro);
    cursor: pointer;
}
/*
.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;

}

.iconosaurio{
    opacity: 0;

}

.boton:focus{
    width: 50px;
    background-color: #0097a7;
    border-radius: 50%;
}

.boton:hover{
    background-color: var(--primario);
    color: var(--negro);
    cursor: pointer;
}
.boton:focus .text{
    opacity: 0;

}

.boton:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}
*/

/*utilidades*/
@media(min-width: 768) {
    .w-100{
        width: 100%;
    }
}
.flex{
    display: flex;

}
.alinear-derecha{
    justify-content: flex-end;


}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal {
   display: flex;
   flex-direction: column;
   
}

.sombra{
   background-image: url(/First-Website-project/freelancer_inicio/img/fondo.jpg);
   width: 100%;
   border-radius: 1%;

}

@media(min-width: 768px) {
    .navegacion-principal{
        flex-direction:row;
        justify-content: space-between; 
    }

    .boton{
        width: auto;
        text-align: center;
    }
}

@media(min-width: 1140px) {
    
}

@media(min-width: 1440px) {
    
}
.navegacion-principal  a {
    color: var(--blanco);
    text-decoration: none;  
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem ;

}

.navegacion-principal  a:hover {
    background-color: var(--primario);
    color: var(--negro);

}

.hero{
    background-image: url(/First-Website-project/freelancer_inicio/img/back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
   

}
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
    font-size: 3.5rem;

}

.ubicacion{
    display: flex;
    align-items: flex-end;

}

@media(min-width: 768px) {

    .servicio{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 1rem;



}
}


.servicio-section{
    display: flex;
    flex-direction: column;
    align-items: center;
     -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    margin: 1rem;
    max-width: 49rem;
    
    border-radius: 1rem;
 




}

.servicio-section p{
    line-height: 2;
    text-align: center;

    
}

.servicio-section h3{
    color: var(--secundario);
    font-weight: normal;

    
}
.servicio-section .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
/*Contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /* utiliza el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;

}

.formulario fieldset{
    border: none;

}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario)
}

@media(min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    
    }

    .campo:nth-child(3), .campo:nth-child(4){
        grid-column: 1 / 3;
    }

   
    
}

.campo label{
    color: var(--blanco);
    margin-bottom: .5rem;
    font-weight: bold;
    display: block;

}

.campo input{
    background-color: var(--blanco);
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.campo textarea{
    width: 100%;
    height: 19rem;
    border-radius: 1.5rem;
}

.enviar .boton{
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 10px;
}

.footer{
    text-align: center;
}